h1 {
    font-family: Courier New, Courier, monospace;
    text-align: left;
    margin: 10px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted black;
}

Link {
    color: peru;
}

a {
    color: peru;
    text-decoration: none;
}

h2 {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}

h3 {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}

h4 {
    font-family: Courier New, Courier, monospace;
    font-weight: bolder;
}

.ourStudentsHeader {
    font-style: italic;
    text-decoration: underline;
    margin: 0 0 20px 0;
}

table {
    font-family: Courier New, Courier, monospace;
    margin: 10px 10px 10px 0;
}

.columnHeaders {
    font-weight: bolder;
}

td {
    padding: 4px 40px 0 0;
}

small {
    font-style: italic;
}

ul {
    font-family: Courier New, Courier, monospace;
}

li {
    font-size: 20px;
    padding: 5px 0 0 0;
}

input[type=text] {
    /*width: 100%;*/
    padding: 12px 25px;
    /*margin: 4px 0;*/
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.selectCampus {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

select .selectCampus {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectCampus select:focus {
    outline: none;
}

.deleteLink {
    text-align: center;
    padding: 0 0 0 30px;
}

.menu-item {
    display: inline;
    font-family: Courier New, Courier, monospace;
    color: peru;
    padding: 8px 12px;
    border: 2px solid peru;
    margin: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-links {
    padding: 0 0 15px 0;
    /*border-bottom: 1px groove black;*/
}

.btn:focus,
.btn.focus {
    color: black;
    font-weight: bold;
    /*background-color: peachpuff;
    border-color: #000000;*/
}

.btn:hover {
    color: black;
    /*background-color: peachpuff;
    border-color: #000000;*/
}

.btn:active,
.btn.active {
    color: black;
    font-style: oblique;
    font-weight: bolder;
    /*background-color: peachpuff;*/
    /*border-color: #000000;*/
}

.col-thirds {
    /*width: 33.333333%;*/
    margin: 20px 20px 30px 10px;
    float: left;
    padding-right: 30px;
}

.col-fourths {
    width: 25%;
    float: left;
    padding-right: 20px;
}